.s-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
display: flex;
justify-content: space-between;
background-color: black;
}
.nav-right{
    display: flex;
    justify-content: space-between;
}
.profile{
    display: flex;
    align-items: center;
}
.card-container{
    flex: 6;
    width: 60%;
    display: flex;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.card{
flex: 4;
display: flex;
margin-bottom: 3%;

}
.hotel-name{
    display: flex;
    justify-content: space-between;
}
.hotel-Image{
    width: 250px;
    height: 200px;
    margin: 2%;
}
.hotel-img{
width: 100%;
}

.details{
    flex: 5;
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2%;
}

.hotel-details{
    display: flex;
    flex-direction: column;
}
.reviews{
    display: flex;
    /* justify-content: space-between;
     */
     align-items: center;
     gap: 1%;
     justify-content: space-between;
}
.price{
    float: left;
    color: rgba(55, 65, 81, 1);
    font-weight: 500;
}
.like{
    width:20px;
     height: 20px;
}
.star{
    width: 10px ;
    height: 10px;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}